@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$color1: #303134;
$color2: #4e5156;
$color3: #9ba0a6;
$background: #1f1f1f;

*{
    font-family: "Open Sans", sans-serif;
}

body{
    background-color: $background;
    
    header{
        width: 100wh;
        padding: 20px;
        display: flex;
        justify-content: end;

        a{
            font-family: "Open Sans", sans-serif;
            color: #fff;
            text-decoration: none;
            margin: 0 10px;
        }
    }
}


.formContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    height: 70vh;
}

#searchForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .searchField{
        background-color: $color2;
        padding: 15px 10px;
        border-radius: 50px;
        width: 50%;
        display: flex;

        svg{
            stroke: $color3;
            margin-right: 10px;
        }
    }

    input{
        background-color: transparent;
        border: none;
        width: 90%;
        color: #fff;
    }
    input:focus{
        outline: none;
    }

    .buttonsField{
        display: flex;

        input{
            color: #fff;
            padding: 10px 15px;
            background-color: $color1;
            margin: 20px 5px;
            border-radius: 10px;
        }
    }
}